/* GLOBAL STYLES */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding-top: 130px;
  }

  h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin: 25px 0 5px 0;
  }  

  h1 a {
    color: black;
    text-decoration: none;
    /* center text */
    display: block;
    text-align: center;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* making header stick to the top of the page */
  header {
    position: fixed; /* fixes the header in place */
    top: 0; /* aligns it to the top of viewport */
    left: 0;
    width: 100%; 
    z-index: 50000; /* ensuring header stays on top of all other elements */
    background-color: #CFF9FF; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  body[data-theme="dark"] header {
    background-color:  #FFDFF0;
  }

  #main-nav {
    text-align: center; 
    margin-top: 0; 
    padding-top: 0.2em;

  }
  
  #main-nav .menu {
    list-style-type: none; /* removing bullet points from the list */
    display: inline-block; /* making menu items sit inline */
    /* centering items inside menu div */
    padding: 0;
    margin: 0;
  }
  
  /* styling individual list items */
  #main-nav .menu li {
    display: inline; /* Display the list items inline */
    /* space btw buttons */
    margin-right: 10px; 
  }
  
  /* styling the buttons (anchor tags) */
  #main-nav .menu li a {
    display: inline-block; 
    padding: 10px 25px; 
    margin: 10px 0 20px 0;
    background-color: #02ADC7; 
    color: white; 
    font-family: "Jersey 20", sans-serif; 
    font-weight: 400;
    font-size: 1.2em; 
    border-radius: 12px; 
    text-decoration: none; /* removing the underline */
    transition: background-color 0.3s ease;
  }

  body[data-theme="dark"] #main-nav .menu li a {
    background-color: #FF69B4;
  }

  /* hover effect for the buttons */
  #main-nav .menu li a:hover {
    background-color: #005d6b; 
  }

  body[data-theme="dark"] #main-nav .menu li a:hover {
    background-color: #df0070;
  }

  #main-nav .menu ul {
    padding: 0;
  }

  .rounded-box {
    background-color: #02ADC7;
    border: 3px solid #CFF9FF; 
    padding: 15px;
    margin: 3em 1em 4.5em 7em;
    border-radius: 35px;
    color: white;
    text-align: center;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3); 
  }

  body[data-theme="dark"] .rounded-box {
    background-color:  #FF69B4;
    border: 3px solid #FFDFF0; 
  }
  
  .rounded-box p {
    font-size: 2.8em; 
    font-family: "Jersey 20", sans-serif; 
    text-shadow: 1px 1px 0 black, 
                 -1px -1px 0 black, 
                 -1px 1px 0 black, 
                 1px -1px 0 black; 
  }
  
  .mobile-menu {
    display: none;
  }

  #mob-menu {
    display: none; 
  }
  
  .container {
    padding: 3.5rem;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
  }
  .left_col, .right_col {
    width: 50%; /* each column will take up nearly half of the container on desktop */
    justify-content: center;;
  }

  .right_col {
    display: flex;
    /* center horizontally */
    justify-content: center;     
    /* center vertically */   
    align-items: center;          
  }
  
  .thumb {
    width: 60%;
    margin: 2rem auto;
    transition: transform 0.5s ease-in-out;
  }
  
  /* hover animation */
  .thumb:hover {
    animation: bounce 1s infinite;
  }
  
  /* keyframes for bounce */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Move up */
    }
  }  
  
  .draggable {
    /* enabling absolute positioning for dragging */
    position: absolute; 
    width: 100px;
    /* changing cursor to indicate draggable */ 
    cursor: grab;
  }

  .flower-container {
    display: flex;
    flex-wrap: wrap;             
    justify-content: center;
    width: 100%;                 
    padding-left:3em;
  }

  .flower-group {
    padding-top: 30px;
    display: block;
    position: relative;
    margin-right: 70px;
    width: 10%;
    margin-bottom: 10em;
  }
  
  .flower-group img{
    width: 140px;
    height: auto;
  }

  /* positioning first image */
  .flower-group img:nth-child(1) {
    top: 0; 
  }
  
  /* positioning second image slightly lower etc... */
  .flower-group img:nth-child(2) {
    top: 20px; 
  }
  
  .flower-group img:nth-child(3) {
    top: 40px; 
  }

  .vase {
    width: 50%;
    z-index: 9999;
  }

  .girl {
    width: 30%;
    z-index: 0;
    padding: 3em 0 0 0;
  }

  .outfit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;   
    padding: 0;
    margin: 0
  }

  .outfit-group {
    display: block;
    justify-content: center;
    position: relative;
    width: 50%;
    margin-bottom: 10em;
    padding: 0;
  }

  .image-grid {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 5 columns fr=fraction */
    grid-template-rows: repeat(4, 1fr);     /* 4 rows */
    width: 500px;  
    height: 300px;  
    gap: 0;
  }

  .drop-zone {
    width: 100%;
    height: 100%;
    border: 1px dashed #ccc;
    position: relative;
  }

  .image-piece {
    width: 100%;
    height: 100%;
    background-image: url('../images/venue.jpg');
    background-size: 500% 400%; /* dividing image into 5 columns and 4 rows */
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer; 
  }

  .image-piece::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px double black;
    border-radius: 2px;
    backface-visibility: hidden;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #CFF9FF;
    border: 3px solid #02ADC7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
  }
  
  /* assigning background positions based on data-index */
  .image-piece[data-position="1"] { background-position: 0% 0%; }
  .image-piece[data-position="2"] { background-position: 25% 0%; }
  .image-piece[data-position="3"] { background-position: 50% 0%; }
  .image-piece[data-position="4"] { background-position: 75% 0%; }
  .image-piece[data-position="5"] { background-position: 100% 0%; }
  
  .image-piece[data-position="6"] { background-position: 0% 33%; }
  .image-piece[data-position="7"] { background-position: 25.1% 33%; }
  .image-piece[data-position="8"] { background-position: 50% 33%; }
  .image-piece[data-position="9"] { background-position: 74.8% 33%; }
  .image-piece[data-position="10"] { background-position: 100% 33%; }
  
  .image-piece[data-position="11"] { background-position: 0% 66%; }
  .image-piece[data-position="12"] { background-position: 25% 66%; }
  .image-piece[data-position="13"] { background-position: 50% 66%; }
  .image-piece[data-position="14"] { background-position: 75% 66%; }
  .image-piece[data-position="15"] { background-position: 100% 66%; }
  
  .image-piece[data-position="16"] { background-position: 0% 99%; }
  .image-piece[data-position="17"] { background-position: 25% 99%; }
  .image-piece[data-position="18"] { background-position: 50% 99%; }
  .image-piece[data-position="19"] { background-position: 75% 99%; }
  .image-piece[data-position="20"] { background-position: 100% 99%; } 

  .restart-btn {
    display: block;
    position: fixed;
    bottom: 70px;
    right: 30px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #02ADC7;
    font-family: "Jersey 20", sans-serif;
    color: #fff;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #005d6b
  }
  
  body[data-theme="dark"] .restart-btn {
    background-color:  #FF69B4;
  }

  .change-theme-btn {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #02ADC7;
    color: white;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }


  body[data-theme="dark"] .change-theme-btn {
    background-color:  #FF69B4;
  }

  .change-theme-btn:hover {
    opacity: 0.8;
  }


  /* MOBILE STYLES */
@media only screen and (max-width: 767px) {

  .puzzle-box {
    /* center content inside this box */
    display: flex;
    justify-content: center;
  }
  .image-grid {
    width: 400px;  
    height: 320px; 
  }

  .girl {
    width: 28%;
    z-index: 0;
    padding: 4em 0 2em 0;
  }

  .outfit-container {
    padding-left: 2.5em;
  }

  .flower-container {
    display: flex;
    flex-wrap: wrap;          
    justify-content: center;
    width: 100%;                
    padding: 0;
  }

  .flower-group img{
    width: 110px;
    height: auto;
  }

  .right_col {
    padding: 0; 
    margin-bottom: 2rem;
  }

  .vase {
    width: 60%;
    margin:0;
    padding: 0;
  }

    header {
      position: fixed;
      flex-direction: column; /* stacking elements vertically */
      align-items: stretch; /* stretching items to fill the container */
      padding: 0;
    }

    /* showing mobile menu when 'show' class is added */
    #mob-menu.show {
      display: block;
    }

    h1 {
      font-size: 2em;
      margin: 1rem;
    }

    h1 a {
      color: black;
      text-decoration: none;
      display: block;
      text-align: left;
      margin-left: .5rem;
    }

    body {
      padding-top: 100px;
    }

    .rounded-box {
        margin: 0 2.5rem 2rem 2.5rem;
    }

    .rounded-box p {
        font-size: 2.2em;
    }

    .img {
        width: 80%;

    }
  
    .mobile-menu { /* hamburger menu icon */
      position: absolute;
      right: 1rem;
      top: -.2rem;
      display: block;
      font-size: 4rem;
      color: #02ADC7; 
      cursor: pointer;
      transition: color 0.3s ease;
    }

    body[data-theme="dark"] .mobile-menu {
      color: #FF69B4;
    }

    #mob-menu { /* mobile menu */
      flex-direction: column; /* stacking the menu items vertically on mobile. */
      width: 100%; 
      text-align: center; 
    }

    #mob-menu .mob-menu-inside {
      list-style-type: none; /* removing bullet points from list */
      text-align: center; 
    }

    #mob-menu .mob-menu-inside li {
      border-bottom: 2px solid rgba(2, 173, 199, 0.2);
    }

    body[data-theme="dark"] #mob-menu .mob-menu-inside li {
      border-bottom: 2px solid rgba(255, 105, 180, 0.2); 
    }

    #mob-menu .mob-menu-inside li a {
      display: block;
      padding: 15px 0; 
      background-color: #CFF9FF; 
      color: #02ADC7; 
      font-family: "Jersey 20", sans-serif;
      font-weight: 400;
      font-size: 1.5em; 
      text-decoration: none; /* removing underline */
      transition: background-color 0.3s ease; 
    }

    body[data-theme="dark"] #mob-menu .mob-menu-inside li a {
      background: #FFDFF0;
      color: #FF69B4;
    }

  
    .mob-menu-inside {
      padding: 0;
      margin: 0;
    }

    .container {
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
  
    .left_col, .right_col {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  
    .thumb {
      width: 70%;
      margin: 1rem auto;
    }
  
    nav {
      display: none;
    }
  
  }


